/**
* style.css pour template default.php
*/
*,
::before,
::after {
    box-sizing: border-box;

  margin: 0px;
  padding: 0px;
  
  text-decoration: none;
  list-style: none;
}

/* Définition de la police personnalisée */
@font-face {
  font-family: 'MaPolicePersonnalisee';
  src: url('fonts/Neucha/Neucha-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Utilisation de la police personnalisée */
body {
  font-family: 'Neucha', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer";
  grid-gap: 5px;  
  max-width: 80%;
  margin: 0px auto;
}
header {
  grid-area: header;
  color: #ece9e5;
  padding: 10px;
  background-color: #3d3c3b;
}
main {
  grid-area: main;
  background-color: #e7e7e7;
  padding: 10px;
}
section {
  grid-area: section;
}
aside {
  grid-area: aside;
  padding: 10px;
  background-color: #e7e7e7;
}
footer {
  grid-area: footer;
  color: #ece9e5;
  text-align: center;
  padding: 10px;  
  background-color: #3d3c3b;
}

@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
      "header header"
      "main aside"
      "footer footer";
    
    grid-gap: 0px;
    max-width: 80%;
    margin: 0px auto;
  }  
}